<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go-Grpc</title>
    <style>
        h1, .content{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #message{
            font-weight: 100;
           font-size: larger;
        }
    </style>
</head>
<body>
    <h1>Golang-gRPC mircorservice</h1>
    <div class="content">
     <form action="/" method="get">
         <input type="text" name="name" placeholder="Please enter your name" id="">
          <input type="submit" name="" id="">
    </form><br>
    </div>
    <div class="content" id="message">
        {{ if . }}
            <p>Greetings to you {{ . }} !<p>
        {{end}}
    </div>
</body>
</html>